<!doctype html>

<html ng-app="myApp">
	<head>

		<script src="bower_components/angular/angular.js"></script>

	</head>
	<body ng-controller="MainController" >
		
		<div>
			<h1> {{ title }} </h1>
			<label>Change Title <input type="text" ng-model="title" ></label>
			<ul ng-repeat="game in games">
				<label>{{ game.name }}: <input ng-model="game.name"></label>
				<label>{{ game.price }}: <input ng-model="game.price"></label>
			</ul>

			
			<pre >{{ games | json }}</pre>
			
		</div>

		<!-- Angular app -->
		<script src="js/app.js"></script>
		<script src="js/controllers/MainController.js"></script>
	</body>
</html>
